/* 

Authore Name : Bootstrapthemes
Authore link : http://bootstrapthemes.co

*/
html,
body{
    font-size:18px;
    background:#fff; 
    font-family: "Roboto";
    font-weight: 300;
}
h1,
h2,
h3,
h4,
h5{
    text-transform: uppercase;
}
h1 {
    font-size: 5rem;
    line-height: 6.5rem;
    color: #fff;
}
h2 {
    font-size: 2.222rem;
    line-height: 2.5rem;
    font-weight: 700;
}
h3 {
    font-size: 1.389rem;
    line-height: 2rem;
    font-weight: 700;
}
h4 {
    font-size: 1.222rem;
    line-height: 2rem;
    font-weight: 700;
}
.navbar-brand {
    margin-top: 1.5rem;
}
.bg-primary {
    color: #3f444a!important;
    background-color: #fff!important;
}
.overlay{
    background: rgba(0, 0, 0, 0.5);
}
/*==========================================
PRE LOADER 
==========================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.loaded {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../img/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}


input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea {
    background-color: #f0f1f3;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
    outline: 0;
    height: 3.1rem;
    width: 100%;
    font-size: 1rem;
    transition: all .3s;
    padding-left: 0.5rem;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    z-index: 2;
    height: 56px;
    margin-top: 0px;
    border-radius: 0px 5px 5px 0px;
}
.md-form, .md-form .btn {
    margin-bottom: 0rem;
}
.btn-success {
    background: #70bf54;
}

.btn:hover, .btn-large:hover {
    background-color: #70bf54;
}

.head_title h2{
    margin-bottom:2rem;
}
.head_title p{
    width:75%;
    margin:0 auto;
    padding-bottom: 15px;
}

/*==========================================================
 Navigation style
============================================================*/

.small{
    background: #ddd !important;
    height: 60px;
    line-height: 60px;
    color: #555;
}
.small .navbar-brand {
    margin-top: .5rem;
}

.nav ul li.active{
    background-color:rgba(0, 0, 0, 0.0);
}
.navbar{
    padding: 0 1rem;
}

.navbar-nav .nav-link{
    padding: 0;
}

.navbar-light .navbar-nav .nav-link{
    color:#3f444a;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#70bf54;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .active>.nav-link:focus, .navbar-light .navbar-nav .active>.nav-link:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open>.nav-link, .navbar-light .navbar-nav .open>.nav-link:focus, .navbar-light .navbar-nav .open>.nav-link:hover{
    color:#70bf54;
}

/*==========================================================
                    Home style
============================================================*/

.single_home h1{
    font-weight: 800;
    letter-spacing: 2px;
    font-family: 'Open Sans', sans-serif;
}
.single_home p{
    font-weight: 600;
    letter-spacing: 5px;
    font-family: 'Open Sans', sans-serif;
}


/*==========================================================
                    About us section style
============================================================*/

.single_about .panel-default>.panel-heading{
    color: #fff;
    border-color: #ddd;
    background:url(../img/accordion.png) no-repeat right -116px #333;
    transition: all 0.0s;
}
.single_about .panel-default>.panel-heading p{
    margin-top: 0;
    margin-bottom: 0;
} 

.panel-heading.bgg.bg{
    background:url(../img/accordion.png) no-repeat right 7px #ec4848;
}
.panel-heading.bgg1.bg{
    background:url(../img/accordion.png) no-repeat right 7px #ec4848;
}
.panel-heading.bgg2.bg{
    background:url(../img/accordion.png) no-repeat right 7px #ec4848;
}
.single_about .panel-title{
    width: 100%;
}
.single_about .panel-body{
    padding: 6px;
    border: 1px solid #c4c4c4;
    background: #f8f8f8;
}
.panel-heading{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 15px;
    line-height: 3rem;
}
.panel-group .panel {
    border-radius: 0px;
    margin-bottom: 20px;
}
.single_about .panel-title>a {
    color: #fff;
    display:block;
}

/*===================================================================*/
.main_accordion{}
.main_accordion .single_accordion{
    margin-bottom: 10px;
}
button.accordion {
    background:url(../img/accordion.png) no-repeat scroll right -114px #333;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    transition:background-color 0.5s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

button.accordion.active, button.accordion.active:hover {
    background:url(../img/accordion.png) no-repeat scroll right 10px #70bf54;;
}

button.accordion:hover {
    background:url(../img/pro2.png) no-repeat scroll right 12px #70bf54;;
}
/* Style the accordion panel. Note: hidden by default */
div.panel {
    padding: 0.5rem;
    background-color: #fefefe;
    display: none;
    transition:all 0.6s;
    border: 1px solid #ddd;
}
div.panel p{
    margin-bottom: 0;
}

div.panel.show {
    display: block !important;
    margin-bottom: 0;
}


.skill {
    overflow:hidden;
    margin-bottom: 0;
    padding-top: 0;
}
.service-text{margin-top:30px;}
.skill .progress .lead {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    left: 10px;
    position: absolute;
    top: 4px;
    z-index: 99;
    font-family: "Open Sans","Sans Serif";
}
.skill .progress {
    background-color: #ddd;
    border-radius: 0;
    box-shadow: none;
    height: 30px;
    margin-bottom: 44px;
    overflow: visible;
    position: relative;
    border: 1px solid #d1d1d1;
}
.skill .progress-bar span {
    background: #333 none repeat scroll 0 0;
    float: right;
    font-size: 11px;
    margin-right: 10px;
    margin-top: -26px;
    position: relative;
    padding: 0 5px;
}
.skill .progress-bar > span:before,.skill .progress-bar > span:after{
    border: medium solid transparent;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: 0;
}
.skill .progress-bar > span:before{
    border-top-color: #333;
    border-width: 5px;
    left: 50%;
    margin-left: -5px;
}
.progress-bar {
    background: #70bf54;
    position: absolute;
    left: 0;
    top: 0;
    height: 28px;
}




/*==========================================================
                Service section style
============================================================*/
.main_service_area{}
.main_service_area .col-md-4:hover .single_service{
    background: #3f444a;
    color:#fff;
}
.main_service_area .jumbotron{
    padding:2rem .6rem;
}
.main_service_area .single_service{
    transition: all 0.3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.main_service_area .single_service i{
    font-size:3rem;
}


/*==========================================================
                JoinUs section style
============================================================*/


.main_joinus_area{
    background: url(../img/joinbg.jpg) no-repeat top center;
    background-size: cover;
}

.main_joinus_content{
    padding: 100px 20px;
}
.main_joinus_content i{
    font-size:3rem;
    color:#fff;
}
.main_joinus_content p{
    width: 75%;
    margin:20px auto;
}


/*==========================================================
                JoinUs section style
============================================================*/

.main_offer_area{}
.main_offer_area .main_offer_content{
    overflow: hidden;
}
.main_offer_area .single_offer .single_offer_icon{

}
.main_offer_area .single_offer .single_offer_icon i{
    font-size: 2rem;
    color: #fff;
    background: #70bf54;
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;

}


/*==========================================================
                DocChain section style
============================================================*/

section.banner {
    min-height: 450px;
    max-height: 450px;
    background-image: url(../img/docchain.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #FFFFFF;
    font-family: 'Bree-Serif', Serif;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 4px #505050;
    position: relative;
    z-index: 0;
}
section.banner h1 {
    font-size: 750%;
    color: #ffffff;
    position: absolute;
    bottom: 55px;
    text-shadow: 1px 1px 1px #373d42;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    left: 1.8vw;
    text-align: left;
    font-weight: 650;
    font-family: 'Source Sans Pro', sans-serif;
}
section.banner h2 {
    color: #ffffff;
    font-size: 350%;
    position: absolute;
    bottom: 5px;
    text-shadow: 1px 1px 1px #373d42;
    /* left: 50vw; */
    /* transform: translateX(-50%); */
    left: 2vw;
    text-align: left;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
}
@media only screen and (max-width : 1414px) {
    section.banner h2 {
        font-size: 300% !important;
    }
}

@media only screen and (max-width : 1220px) {
    section.banner h2 {
        font-size: 250% !important;
    }
    section.banner h1 {
        font-size: 600% !important;
    }
}

@media only screen and (max-width : 986px) {
    section.banner h1 {
        margin-bottom: 50px;
    }
}
@media only screen and (max-width : 770px) {
    section.banner h2 {
        line-height: 105%;
    }
    section.banner h1 {
        margin-bottom: 75px;
    }
}
@media only screen and (max-width : 766px) {
    section.service img{
        display: none;
    }
}
@media only screen and (max-width : 600px) {
    section.banner h1 {
        font-size: 450% !important;
        margin-bottom: 100px;
    }
}
@media only screen and (max-width : 524px) {
    section.banner h1 {
        font-size: 325%;
    }
    section.banner h2 {
        font-size: 200% !important;
        margin-bottom: 15px;
    }
}

@media only screen and (max-width : 345px) {
    section.banner h1 {
        font-size: 300% !important;
        margin-bottom: 45%;
    }
}

section.service .container-a {
    padding-right: .9375rem;
    padding-left: .9375rem;
    padding-top: .9375rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #70bf54;
    background-color: #ffffff;
    border-radius: 8px;
}
section.service .container-b {
    padding-right: .9375rem;
    padding-left: .9375rem;
    padding-top: .9375rem;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
section.doc-display .container-a {
    padding-right: .9375rem;
    padding-left: .9375rem;
    padding-top: .9375rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #70bf54;
    background-color: #ffffff;
    border-radius: 8px;
}
section.doc-display img{
    max-width:100%;
    position:relative;
}
section.service img{
    position: absolute;
}
/*==========================================================
                Contact section style
============================================================*/


.main_contact_area{
    background: url(../img/smart-city.png) no-repeat top center;
    background-size: cover;
}

.main_contact_content{
    padding: 100px 20px;
}
.main_contact_content i{
    font-size:3rem;
    color:#373d42;
}
.main_contact_content h3{
    width: 75%;
    margin:20px auto;
    text-transform: none;
    font-weight: 400;
}


/*==========================================================
                Contact section style
============================================================*/

.main_offer_area{}
.main_offer_area .main_offer_content{
    overflow: hidden;
}
.main_offer_area .single_offer .single_offer_icon{

}
.main_offer_area .single_offer .single_offer_icon i{
    font-size: 2rem;
    color: #fff;
    background: #70bf54;
    height: 100px;
    line-height: 100px;
    width: 100%;
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%; /* Full width */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #70bf54;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height:50px;
    width:100px;
    margin-top:10px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}



/*==========================================================
                Client section style
============================================================*/
.main_client_area .main_client_content .single_c_text{}
.main_client_area .main_client_content .single_c_text h3{
    margin:0;
    padding: 0;
}

.single_c_text span{
    font-size: 0.778rem;
    color: #70bf54;
    font-weight: 700;
    overflow: hidden;
    display: inline-block;
}

.carousel {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 450px;
}

.carousel.carousel-slider .carousel-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
}
.carousel .carousel-inner img{
    position: relative;
    width:60%;
}
@media (max-height: 400px) {
    .single_client .img-circle{
        max-width: 100px;
    }
}
@media (max-width: 767px) {
    .single_c_text p{
        font-size: 75%;
    }
}
@media (max-width: 400px) {
    .single_c_text p{
        font-size: 70%;
    }
}
@media (max-width: 330px) {
    .single_c_text p{
        font-size: 60%;
    }
}
/*==========================================================
                Client section style
============================================================*/

.main_counter_area{
    background: url(../img/counterbg.jpg) no-repeat top center;
    background-size: cover;
    overflow: hidden;
}
.main_counter_area .main_counter_content{}
.main_counter_area .main_counter_content .single_counter{
    background: rgba(236, 72, 72, 0.5);
}
.main_counter_area .main_counter_content .single_counter i{
    font-size:2rem;
}

/*======================================================================
                Team Section style
========================================================================*/

.main_team_area{}
.main_team_area .main_team_content{}
.main_team_area .main_team_content .single_team{
    position: relative;
    width:100%;
    overflow: hidden;
}
.main_team_area .main_team_content .single_team img{
    width:100%;
}
.main_team_area .main_team_content .single_team:hover .single_team_overlay{
    bottom:0;
}
.main_team_area .main_team_content .single_team .single_team_overlay{
    background: #70bf54;
    width:100%;
    position: absolute;
    left:0;
    bottom:-100%;
    transition: all 0.3s;

}
.main_team_area .main_team_content .single_team .single_team_overlay h4{
    margin:0;
    padding: 0;
}
.main_team_area .main_team_content .single_team .single_team_overlay p{
    margin:0;
    padding: 0;
}

.main_team_area .main_team_content .single_team .single_team_overlay .team_social{}
.main_team_area .main_team_content .single_team .single_team_overlay .team_social a i{
    color:#fff;
    padding:0px 2px;
    transition: all 0.3s;
}
.main_team_area .main_team_content .single_team .single_team_overlay .team_social a:hover i{
    color:#000;
    border-bottom: 2px solid #000;
}




/*=====================================================================
                Portfolio Section Style
=======================================================================*/

section.projects-hero {
    background-color: #333;

    color: #FFFFFF;
    font-family: 'Open-Serif', Serif;
    text-align: center;

    padding: 1em;
    padding-bottom: 2em;
    position: relative;
}
section.projects-hero h1 {
    font-size: 200%;
    color: #FFFFFF;
    margin: 0px;
    margin-top: 3vh;
    text-shadow: 0px 0px 2px #000000;

    font-family: 'Open-Sans', serif;
    transition: transform 250ms ease;
}
section.projects-hero p {
    width: 50vw;

    font-size: 150%;
    color: #FFFFFF;
    margin: auto;
    margin-top: 3vh;
    text-shadow: 0px 0px 2px #000000;

    font-family: 'Open-Sans', serif;
    transition: all 500ms ease;
}
@media (max-width: 1250px) {
    section.projects-hero p {
        width: 75vw;
    }
}
@media (max-width: 1000px) {
    section.projects-hero p {
        font-size: 135%;
    }
}
@media (max-width: 960px) {
    section.work .project-highlight {
        width: 100% !important;
    }
}
@media (max-width: 800px) {
    section.projects-hero h1 {
        font-size: 150%;
    }
    section.projects-hero p {
        width: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 110%;
    }
}

section.work .project-highlight {
    width: 50%;
    height: 50vh;
    display: inline-block;
    box-sizing: border-box;
    margin: 0px;
    float: left;
    background: linear-gradient(#FFFFFF, #CCCCCC);
    position: relative;

    z-index: 10;
    cursor: pointer;

    transform: translate(0);
    overflow: hidden;
}
section.work .project-highlight .background {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms ease;
}
section.work .project-highlight .background:hover {
    z-index: 0;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
    left: -2rem;
}
section.work .project-highlight .content {
    top: 50%;
    position: absolute;
    text-transform: none;
    transform: translateY(-50%);
    color: #FFFFFF;
    text-shadow: 2px 2px #303030,
                 2px -2px #303030,
                 -2px 2px #303030,
                 -2px -2px #303030;
    font-family: 'Open-Sans', serif;
    width: 100%;
    text-align: center;
    margin: 0px;
    z-index: 10;

    pointer-events: none; /* prevent hover, etc. */
}
section.work .project-highlight .content h1 {
    font-size: 200%;
    font-weight: bold;
    text-transform: none;
    color: #FFFFFF;
    text-shadow: 1px 1px #303030,
                 1px -1px #303030,
                 -1px 1px #303030,
                 -1px -1px #303030;
}
section.work .project-highlight .content h2 {
    font-size: 100%;
    color: #FFFFFF;
    text-transform: none;
    text-shadow: 1px 1px #303030,
                 1px -1px #303030,
                 -1px 1px #303030,
                 -1px -1px #303030;
}
section.work .project-highlight .content p {
    font-size: 150%;
}

section.project-header {
    position: relative;
    width: 100%;
    padding: 5em 0;
    margin: 0px;
}
section.project-header .background {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
section.project-header .project-highlight h1 {
    display: block;
    position: relative;
    z-index: 10;

    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin: 0px;

    color: #FFFFFF;
    text-shadow: 2px 2px #303030,
                 1px -1px #303030,
                 -1px 1px #303030,
                 -1px -1px #303030;
    font-family: 'Open-Serif', Serif;
}

section.project-description {
    padding: 1em 5%;
    background: linear-gradient(#FFFFFFF, #EEEEEE);
    text-align: justify;
}

.project-highlight#scotts-campaign-designer .background {
    background-image: url(../img/door-sales.jpg);
}
.project-highlight#scotts-d2d .background {
    background-image: url(../img/map-foundry.jpg);
}
.project-highlight#scotts-ccr .background {
    background-image: url(../img/call-center.jpg);
}
.project-highlight#eec-migration .background {
    background-image: url(../img/electric.jpg);
}
.project-highlight#hostgis .background {
    background-image: url(../img/gis.jpg);
}
.project-highlight#ips .background {
    background-image: url(../img/pest.jpg);
}
.project-highlight#scotts-msds .background {
    background-image: url(../img/msds.jpg);
}
.project-highlight#bold-penguin .background {
    background-image: url(../img/insurance.jpg);
}
.project-highlight#ocrm .background {
    background-image: url(../img/ocrm.jpg);
}
.project-highlight#tidy-duck .background {
    background-image: url(../img/tidy.jpg);
}



/*.main_portfolio_area{
    overflow: hidden;  
}*/
.main_mixi_content{
    max-height: 900px;
}
.main_mix_menu ul li{
    display: inline-block;
    padding: .5rem 1rem;
    cursor: pointer;
}
.main_mix_menu ul li.active {
    color:#70bf54;
}

.single_mixi_portfolio .single_portfolio_text h3{
    text-transform: none;
    margin-bottom: 0;
    padding-top:1rem;
}
.single_portfolio_img{
    position:relative;
}
.single_portfolio_img img{
    width:100%;
    height: 230px;
}
.single_portfolio_img:hover .mixi_portfolio_overlay{
    opacity:1;
}
.mixi_portfolio_overlay{
    background: rgba(112,191,84, 0.55);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
    opacity: 0;
    padding-top: 30%;
}
.mixi_portfolio_overlay a i{
    font-size: 1rem;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 35px;
    outline:none !important;
}
.mixcontent .mix{
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
}
/*======================================================================
                    ours works 
========================================================================*/

.main_works_area{
    overflow: hidden;
}
/*======================================================================
                    Newsletter Section Style
========================================================================*/

.newsletter{
    background: #312b2b;

}
.main_newsletter{
    overflow: hidden;
}

/*==========================================================
                Blog section style
============================================================*/
.posts{}
.posts .col-md-4:hover .post{
    background: #3f444a;
    color:#fff;
}
.posts .jumbotron{
    padding:2rem .6rem;
}
.posts .post{
    transition: all 0.3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.posts .post i{
    font-size:3rem;
}

.blog .clear-after:after {
    content: "";
    display: table;
    clear: both;
}

.blog .clear-before:before {
    content: "";
    display: table;
    clear: both;
}

.home section.hero {
    height: auto !important;
}

.blog .buttonset {
    margin-bottom: 10px;
}

.blog .buttonset label, .blog .button {
    margin-top: 15px;
    color: #FFFFFF;
    height: 100%;
    cursor: pointer;
    background-color: #70BF4A;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 11px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 1px;
    font-family: headline;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    margin: 10px;
}

.blog .buttonset label:hover, .blog .button:hover {
    background-color: #599E38;
}

.blog input, .blog textarea, .blog select {
    font-weight: normal !important;
    padding: 0.50em;
    font-size: 1rem;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    box-sizing: border-box;
    border: solid 1px #CCCCCC;
    color: #4A4A4A;
    width: calc(33.33% - 5px);
    float: left;
}

@media screen and (max-width: 700px) {
    .blog input, .blog textarea {
        width: 100%;
        margin: 5px;
    }
}

.blog textarea {
    width: calc(100% - 5px);
    height: 250px;
}

.blog input[name=post_interaction] {
    display: none;
}

.blog .posts {
    width: 80%;
    margin: auto;
}

.blog .posts .post {
    border: #70BF4A 4px solid;
    background: linear-gradient(#FFFFFF, #F7F7F7);
    border-radius: 8px;
    min-height: auto;
    padding: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.blog .posts .post .post-header {
    position: relative;
}

.blog .posts .post .title {
    color: #333333;
    font-weight: bold;
    padding: 5px;
    margin-right: 10px;
    font-size: 1.5rem;
    font-family: headline;
    transition: color 0.3s;
}
.blog .posts .post .title:hover {
    color: #70BF4A;
}

.blog .posts .post .timestamp {
    font-size: 75%;
    display: block;
    padding-left: 25px;
    margin-top: 10px;
}

.blog .posts .post .post-summary {
    margin: 10px;
    font-size: 90%;
}

@media screen and (max-width: 940px) {
    .blog .posts .post {
        width: 95%;
        padding: 10px;
    }
    .blog .posts .post .title {
        font-size: 1.25rem;
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}

.blog #submit-comment {
    clear: both;
    display: inline-block;
    float: none;
}

.blog .center {
    text-align: center;
}

.blog .blog-navigation {
    margin-top: 25px;
    text-align: center;
}

.blog #post-title {
    letter-spacing: 1px;
    font-family: headline;
    font-size: 200%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.blog #post-timestamp {
    text-align: center;
    font-size: 75%;
    padding: 10px;
}

.blog #post-contents {
    margin: 20px 20%;
    font-size: 1rem;
}

.blog #post-contents p {
    text-indent: 1.5em;
    text-align: justify;
}

.blog .comment-area {
    text-align: center;
}

.blog .comment-area h3 {
    font-size: 125%;
    font-weight: bold;
    font-family: headline;
}

.blog .comments .comment {
    border: solid 1px #AAAAAA;
    display: block;

    border: #70BF4A 4px solid;
    min-height: auto;
    padding: 25px;
    padding-top: 50px;
    width: 33.33%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    min-width: 375px;

    position: relative;
}

.blog .comments .comment .comment-header {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.10);
    left: 0px;
    right: 0px;
    color: #FFFFFF;
    text-align: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.blog .comments .comment .alias {
    font-weight: bold;
    font-size: 90%;
    display: inline-block;
}

.blog .comments .comment .timestamp {
    display: inline-block;
    float: right;
    font-size: 50%;
    transform: translateY(50%);
}

.blog .comments .comment p {
    width: 95%;
    font-size: 80%;
    line-height: 1.2;
    text-align: justify;
}

.blog #comment-form {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.blog pre {
    overflow-x: auto;
}

@media screen and (max-width: 600px) {
    .blog ul,
    .blog ol {
        font-size: 16px;
    }

    .blog #post-contents {
        margin-left: 3%;
        margin-right: 3%;
    }
}



/*======================================================================
                    Podcast Section Style
========================================================================*/



section.information {
    padding: 1em;
    background-color: #333333;
    color: #EEEEEE;
}

section.episodes {
    padding: 1em;
    background-color: linear-gradient(#EEEEEE, #DDDDDD);
}

table.episode-list, table.episode-list th, table.episode-list td {
    border: #CCCCCC solid 1px;
    border-collapse: collapse;
    background-color: #F7F7F7;
}

table.episode-list th, table.episode-list td {
    padding: 10px;
    min-width: 1em;
    text-align: center;
}

table.episode-list p {
    text-align: justify;
}

.episode-list audio {
    width: 100%;
    border: #DDDDDD solid 1px;
}

#episode-column {
    width: 75%;
    min-width: 50%;
}

@media only screen and (max-width : 520px) {
    section.episodes p {
        font-size: 70%;
    }
}



/*======================================================================
                    Employee Pages
========================================================================*/

h2.pad { 
    padding-left: 25px;
}

h3.pad { 
    padding-left: 45px;
}





/*======================================================================
                    Footer Section Style
========================================================================*/

.footer{
    background: #151515;

}
.main_footer_area {
    overflow: hidden;
}
.main_footer_area .single_f_widget{}
.main_footer_area .single_f_widget img{
    width:100%;
}
.main_footer_area .single_f_widget .single_f_widget_text{
    padding-left:10px;
}
.main_footer_area .single_f_widget .single_f_widget_text p{
    font-size:14px;
    margin-top:15px;
    color:#cccccc
}
.main_footer_area .single_f_widget .single_f_widget_text .social_f_widget a i{
    background: #fefefe;
    width:30px;
    height: 30px;
    line-height: 30px;
    color:#444444;
    text-align: center;
    transition: all 0.3s;
}
.main_footer_area .single_f_widget .single_f_widget_text .social_f_widget a:hover i{
    background: #70bf54;
    color:#fff;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_reatures li{
    font-size:15px;
    margin-bottom: 10px;
    color:#cccccc;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_reatures i{
    color:#70bf54;
    padding-right: 5px;
}

.main_footer_area .single_f_widget .single_f_widget_text.f_tags a{
    color: #fff;
    background: #70bf54;
    padding: 5px 10px;
    margin-bottom: 7px;
    display: inline-block;
    font-size: 14px;
}
.main_footer_area .single_f_widget .single_f_widget_text.f_flicker img{
    width: 23%;
    margin-bottom: 5px;
}
.main_copyright{
    border-top:2px solid #534a4a;
}
.main_copyright p{
    color:#fff;
}
.main_copyright p a {
    color:#70bf54;
    padding: 0px 5px;
}
.main_copyright p i {
    color: #70bf54;
}
.main_copyright .social_copyright a i {
    color: #737373;
    padding: 0px 5px;
    transition: all 0.3s;
}
.main_copyright .social_copyright a:hover i {
    color: #70bf54;
}

@media (max-width: 768px){
    .footer img{
        width: 60%;
        margin-right:20%;
    }
}
